.jumbotron{
    background-color: black;
}

.jumbo-text{
    text-align: center;
    color: white;
    
}

.panel{
    border: solid;
    border-width: 1px;
    border-color: steelblue;
}

.panel-heading{
   
    background-color: steelblue;
    color: white;

}

#submition{
    margin-bottom: 10px;
}